@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body{
	font-family: 'Open Sans', sans-serif;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.55);
    font-size: 18px;
    font-weight: 600;
}
.navbar
{
	margin-top: 40px;
	margin-bottom: 100px; 
}

.carousel-indicators .bot
{
	box-sizing: border-box;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	width: 25px;
	height: 15px;
	border-radius: 30px;
	background-color: black;
	border: 0 !important;
	padding: 0 !important;

}
.carousel-indicators .active
{
	opacity: 1;
	width: 40px;
	height: 15px;
	background-color:#ffe887;
}

.carousel-item{}
.carousel-item h1{
    font-size: 40px;
    font-weight: 700;
}
.carousel-item p{
    font-size: 18px;
    line-height: 2em;
    opacity: 0.7;
}
.btn-dark{
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 1px;
    background-color: #000;
}

.featured-product ul{}
.featured-product {
    margin: 100px 0 50px;
}
.featured-product ul li{}
.featured-product ul li h1{
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
    color: #232323;
}
.featured-product ul li a{
    text-decoration: none;
    color: #ffc819;
    font-size: 20px;
    font-weight: 600;
}

.product{
    padding: 60px 20px;
    text-align: center;
    box-shadow: 2px 16px 20px;
    color: #f3f3f3;
    border-radius: 15px;
}
.product a{
    text-decoration: none;
}
.product a img{}
.product a h1{
    color: black;
    text-transform: uppercase;
    margin: 25px;
    font-size: 25px;
    font-weight: 600;
    opacity: 0.7;
}
.product h2{
    color: #ffc61e;
    font-size: 20px;
}
.product .btn{
    padding: 5px 25px;
    font-size: 20px;
}

.categories-section{}
.categories-section h1{
    font-size: 35px;
    text-transform: capitalize;
    margin: 30px 0 15px;
    font-weight: 600;
    opacity: 0.8;
}
.categories-section span{
    width: 100px;
    height: 7px;
    border-radius: 30px;
    background-color: #ffc819;
    /* color: black; */
    display: block;
    text-align: center;
    margin: auto;
}
.categories-section a{
    display: block;
    padding: 35px 20px;
    text-align: center;
    box-shadow: 2px 16px 20px;
    text-decoration: none;
    color: #f1f1f1;
    /* opacity: 0.1; */
    margin-top: 0px;
    margin-bottom: 45px;
    border-radius: 10px;
}

.categories-section a h3{

	font-size:22px;
	color: black;
	font-weight: 600;
	margin-top: 20px;
}
